<%- include('header') -%>

    <div class="container">
        <div class="my-4">
            <h2>Welcome to Dashboard</h2>
            <h5> <%= user %> </h5>
            <br>
            <a href="/logout">Logout</a>
        </div>
    </div>

<%- include('footer') -%>