<%- include('header') -%>

    <div class="container">
        <h1 class="mt-4">Home</h1>
        <p>This is simple login system build using Node.js, Express.js framework, EJS template engine, bootstrap css
            framwork.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam perferendis dignissimos vel
            accusantium corporis impedit autem cumque officiis omnis provident commodi facilis amet veniam ullam dolorum
            distinctio saepe, iure facere. Placeat vitae omnis voluptates fugit consectetur atque delectus dolorem?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae totam perferendis dignissimos vel
            accusantium corporis impedit autem cumque officiis omnis provident commodi facilis amet veniam ullam dolorum
            distinctio saepe, iure facere. Placeat vitae omnis voluptates fugit consectetur atque delectus dolorem?</p>
    </div>

<%- include('footer') -%>