<%- include('header') -%>

    <div class="container">
        <div class="box">
            <div class="head text-center">
                <h2>Register</h2>
                <span>Register for the new user</span>
            </div>

            <form action="/register" method="POST">

                <div class="form-group">
                    <label for="name" class="form-label mt-4">Full name</label>
                    <input type="text" name="fullName" class="form-control" id="name" placeholder="full name" required/>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label mt-4">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="email" required/>
                </div>
                
                <div class="form-group">
                    <label for="password1" class="form-label mt-4">Password</label>
                    <input type="password" name="password" class="form-control" id="password1" placeholder="password" required/>
                </div>

                <div class="form-group">
                    <label for="password2" class="form-label mt-4">Confirm Password</label>
                    <input type="password" name="cmfPassword" class="form-control" id="password2" placeholder="confirm password" required/>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Register</button>
            </form>

            <div class="foot mt-4 text-center">
                <p>Already have an account? <a href="/login">Log in</a></p>
            </div>
        </div>  
    </div>

<%- include('footer') -%>